*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: Lato, Helvetica, sans-serif;
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
  padding: clamp(20px, 5vw, 50px) 10px 10px;
}

h2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 2rem;
  padding: 20px 0;
  width: 50%;
  border-radius: 0 0 20px 20px;
  border: solid 1px black;
  margin: auto;
  margin-bottom: 20px;
  font-weight: 500;
}

h2 span {
  font-weight: 600;
}

.app-container {
  border: solid 3px black;
  background: white;
  border-radius: 10px;
  width: 50%;
  margin: auto;
  text-align: center;
}

.inputs-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputs-container input {
  font-size: 1rem;
  margin-top: 10px;
  width: 65%;
  height: 50px;
  background: rgba(128, 128, 128, 0.259);
  box-shadow: 2px -2px 4px 0px #0000005e;
  border-radius: 10px;
  padding-left: 10px;
}

.inputs-container label {
  font-size: 1rem;
}

.value-container {
  display: flex;
  margin-bottom: 20px;
}

#calcul {
  width: 30%;
  height: 70px;
  font-size: 1.3rem;
  border-radius: 10px;
  border: none;
  box-shadow: 0px -2px 6px;
  cursor: pointer;
  padding: 10px;
  background: #fabe33;
  transition: background 0.5s linear;
}

#calcul:hover {
  background: #ffcc56;
}

#result {
  font-size: 1.2rem;
  margin: 20px 0;
}

.IMC p {
  font-size: 2rem;
}

/* Couleur des rendu de L'IMC */

.midnightblue {
  color: midnightblue;
}

.green {
  color: green;
}

.lightcoral {
  color: lightcoral;
}

.orange {
  color: orange;
}

.crimson {
  color: crimson;
}

.purple {
  color: purple;
}

/* Mise en place du responsive */

@media (max-width: 920px) {
  .app-container {
    width: 90%;
  }

  h2 {
    font-size: 1.5rem;
  }

  .inputs-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .value-container {
    display: block;
  }

  .inputs-container:nth-of-type(2) {
    margin-top: 20px;
  }

  #calcul {
    font-size: 1.1rem;
  }

  #result {
    font-size: 1rem;
    height: 50px;
  }

  .IMC p {
    font-size: 1.5rem;
  }
}

/* Responsive Téléphone */

@media (max-width: 600px) {
  h2 {
    font-size: 1rem;
  }

  .inputs-container label {
    font-size: 0.8rem;
  }

  .inputs-container input {
    font-size: 0.8rem;
  }

  #calcul {
    font-size: 0.8rem;
    width: 45%;
    height: 50px;
  }

  #result {
    font-size: 0.8rem;
  }

  .IMC p {
    font-size: 1.1rem;
  }
}
